# Environments
.env
.venv/
venv/
ENV/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Data and Databases
data/*
!data/.gitkeep
vector_store/*
!vector_store/.gitkeep

# Streamlit/OS
.streamlit/
.DS_Store

.env
.env.example

venv/
ENV/